#colors() {
    backgorundBody: #f5f6fa;
    backgroundHeader: #182C61;
    textColor: #fff;
    buttonColor: #44bd32;
}

#escapings() {
    @breakpointMobile: ~"(max-width: 767px)" ;
    @breakpointTablet: ~"(max-width: 1023px)" ;
}

.aStyle {
    color: #colors[textColor];
    text-decoration: none;
}

.liStyle{
    list-style: none;
}